@if(loading){
  <div class="loader-wrapper">
    <div class="loader"></div>
    <p class="loader-text">Loading, please wait...</p>
  </div>
}
  <div class="bg-gray-100 p-2 text-xs sm:text-sm">
    <div class="max-w-6xl mx-auto bg-white p-2 ">
      <app-header (dateRangeChanged)="onDateRangeChange($event)"></app-header>
  
      <div *ngIf="loading" class="p-4 text-center">
        <p>Loading data...</p>
      </div>
  
      <div *ngIf="error" class="p-4 text-center text-red-500 text-sm">
        {{error}}
      </div>
  
      <app-summary-card *ngIf="totals && !loading" [totals]="totals"></app-summary-card>
  
      <div id="pages-container" class="  rounded-lg overflow-hidden">
        <app-page-metrics [pages]="pages" />
      </div>
  
  
  
  
    </div>
  </div>
  
  
  <footer class="bg-gray-100 text-gray-400 mt-5 text-sm text-center py-4 h-40 flex justify-center items-center">© 2025 seo
    rank tracker. All rights reserved.</footer>
