<!-- <div class="custom-container">
  <h2 class="custom-title">{{title}}</h2>
  <div class="custom-controls">
    <select [(ngModel)]="dateRange" (change)="onDateRangeChange()" class="custom-select">
      <option value="today">Today</option>
      <option value="lastWeek">Last Week</option>
      <option value="lastMonth">Last Month</option>
    </select>
    <select [(ngModel)]="selectedCategory" (change)="onCategoryChange()" class="custom-select">
      <option *ngFor="let category of categories" [value]="category">
        {{category}}
      </option>
    </select>
  </div>
</div> -->

<div class="flex flex-col md:flex-row justify-between items-center mb-3">
  <h2 class="text-lg font-semibold">SEO Analytics</h2>
  <div class="flex space-x-2 mt-2 md:mt-0">
      <select [(ngModel)]="dateRange" (change)="onDateRangeChange()" class="border p-1 rounded text-xs">
          <option value="today">Today</option>
          <option>Last Week</option>
          <option>Last Month</option>
      </select>
      <select class="border p-1 rounded text-xs">
          <option>All</option>
          <option>China Blog</option>
          <option>Dubai Blog</option>
          <option>India Blog</option>
          <option>Pakistan Blog</option>
      </select>
  </div>
</div>