

<div class="average-count grid grid-cols-2 md:grid-cols-4 gap-2 text-center">
  <div>
    <p class="text-red-600 font-semibold">Impressions</p>
    <p class="font-bold text-gray-800 text-xs md:text-lg">
      <span [class]="getChange(totals.current.impressions, totals.previous.impressions).color">
        {{getChange(totals.current.impressions, totals.previous.impressions).arrow}}
      </span>
      {{formatValue(totals.current.impressions)}}
      <span class="text-xs text-gray-500">(prev: {{formatValue(totals.previous.impressions)}})</span>
    </p>
  </div>
  <div>
    <p class="text-green-600 font-semibold">Clicks</p>
    <p class="font-bold text-gray-800 text-xs md:text-lg clc">
      <span [class]="getChange(totals.current.clicks, totals.previous.clicks).color">
        {{getChange(totals.current.clicks, totals.previous.clicks).arrow}}
      </span>
      {{formatValue(totals.current.clicks)}}
      <span class="text-xs text-gray-500">(prev: {{formatValue(totals.previous.clicks)}})</span>
    </p>
  </div>
  <div>
    <p class="text-blue-600 font-semibold">Position</p>
    <p class="font-bold text-gray-800 text-xs md:text-lg pos">
      <span [class]="getChange(parseFloat(totals.current.avgPosition), parseFloat(totals.previous.avgPosition), true).color">
        {{getChange(parseFloat(totals.current.avgPosition), parseFloat(totals.previous.avgPosition), true).arrow}}
      </span>
      {{formatValue(totals.current.avgPosition)}}
      <span class="text-xs text-gray-500">(prev: {{formatValue(totals.previous.avgPosition)}})</span>
    </p>
  </div>
  <div>
    <p class="text-purple-600 font-semibold">CTR</p>
    <p class="font-bold text-gray-800 text-xs md:text-lg ctr">
      <span [class]="getChange(parseFloat(totals.current.avgCtr), parseFloat(totals.previous.avgCtr)).color">
        {{getChange(parseFloat(totals.current.avgCtr), parseFloat(totals.previous.avgCtr)).arrow}}
      </span>
      {{formatValue(totals.current.avgCtr, true)}}
      <span class="text-xs text-gray-500">(prev: {{formatValue(totals.previous.avgCtr, true)}})</span>
    </p>
  </div>
</div>